MEXC_API_KEY=mx0vglRT4fVdn4lJLP
MEXC_SECRET_KEY=cc4b489baecf489d81ba37e096097b79
BLOCKBYTE_API_KEY=mx0vglT6h8kpZl9c58
BLOCKBYTE_SECRET_KEY=2c25dffefe33496fb99ae3c589b883cf
RAILWAY_URL=https://maroah-production.up.railway.app
VERCEL_URL=https://maroah.vercel.app
SESSION_TOKEN=msIECkh7qAZXR5BfSpvTTCopXpvgDsOSyCyHMUKR0KA=